/* Slider */
.carousel-banner {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.carousel-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0,0,0,0.2); */
}

.carousel-caption {
  position: absolute;
  z-index: 10;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5), 0 0 4px rgba(0,0,0);
  text-align: left;
  left: 10%;

}

.carousel-caption h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5), 0 0 8px rgba(0,0,0);
  filter: drop-shadow(0 0 0.75rem #000);
}

.carousel-caption .lead {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8%;
  color: #fff;
  text-align: center;
  border: none;
  opacity: .6;
  background-color: transparent;
  transition: opacity .5s ease;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
  background-color: rgb(0, 0, 0);
  opacity: .6;
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 fill%3D%22%23fff%22 viewBox%3D%220 0 16 16%22%3E%3Cpath d%3D%22M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%22/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 fill%3D%22%23fff%22 viewBox%3D%220 0 16 16%22%3E%3Cpath d%3D%22M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%22/%3E%3C/svg%3E');
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 90%, 90%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.carousel-item {
  transition: transform 0.3s ease-in-out; /* Adjust the transition duration */
}
.carousel-item img {
  height: 140px;
  filter: drop-shadow(0 0 0.75rem #000);
}

/* Responsive Typography */
@media (max-width: 1200px) {
  .carousel-caption h2 {
    font-size: 2.5rem;
  }
  .carousel-caption .lead {
    font-size: 1.25rem;
  }
}

@media (max-width: 992px) {
  .carousel-caption h2 {
    font-size: 2rem;
  }
  .carousel-caption .lead {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    right: 2%;
    text-align: left;
  }

  .carousel-caption h2 {
    font-size: 1.75rem;
  }
  .carousel-caption .lead {
    font-size: 0.95rem;
  }
  .carousel-caption .btn {
    font-size: 0.9rem;
    padding: 0.375rem 0.75rem;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 10%;
  }
 
}

@media (max-width: 576px) {
  .carousel-banner {
    height: 300px;
    background-size: cover;
    background-position: right;
  }
  .carousel-caption {
    text-align: center;
    right: 0%;
    left: 0%;
    
    text-shadow: 2px 2px 4px rgba(0,0,0), 0 0 8px rgba(0,0,0), 0 0 16px rgba(0,0,0);
  }
  .carousel-caption h2 {
    font-size: 1.5rem;
    padding: 3px 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .carousel-caption .lead {
    font-size: 0.85rem;
  }
  .carousel-caption .btn {
    font-size: 0.9rem;
    padding: 0.35rem 0.7rem;
    text-shadow: 2px 2px 4px rgba(0,0,0);
  }
  
}


/* Cards */
.home-card {
  margin-top: 10px;
  /* margin-bottom: 20px;
  padding: 10px; */
  border-radius: 3px;
  box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.8);
  background-color: rgb(32, 32, 32);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  max-height: 176px;
}

.home-card-title{
    font-size: 1.5rem;
    background-color: #301212;
    border-radius: 3px;
    padding: 6px 10px 1px;
    margin: 0px;
}

.home-card .home-album{
  width: 220px;
}


/* Promotions */
.promotions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-image: url("../../../assets/images/promotions-banner.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #301212;
    box-shadow: inset 0 0 14px rgba(0, 0, 0, 0.8);
    opacity: 0.8;
} 

.promotion-item {
    text-align: center;
    border: 1px solid #adb5bd;
    border-radius: 4px;
    padding: 4px 14px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.8);
  }
  
  .promotion-item h4 {
    font-size: 1.5rem;
    color: #f8f9fa;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }
  
  .promotion-item p {
    font-size: 1rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
    color: #cccccc;
    
  }
  
  .text-warning {
    color:#f8f9fa !important;
  }

  .row.d-flex.align-items-stretch {
    display: flex;
    align-items: stretch;
  }

  @media (max-width: 1100px) {
    .home-card .home-album{
      width: 180px;
    }
    .home-card {
      height: 280px;
    }

  }

@media (max-width: 950px) {
    .home-card {
      max-height: 250px;
    }
    .home-card-title {
        font-size: 1.2rem;
    }
    .home-card .home-album{
      width: 150px;
      vertical-align: middle;
    }

    
  }

  @media (max-width: 768px) {
    .home-card {
      max-height: fit-content;
      margin-bottom: 10px;
      
    }
    .home-card .row{
      display: grid;
      grid-template-columns: 1fr 1fr !important; /* Single column for smaller screens */
    }
    .home-card .home-album{
      width: max-content;
      
    }

  }

  @media (max-width: 600px) {

    .home-card .home-album{
      max-width: 100%;
    }
    .col-md-7, .col-md-5 {
      padding-right: 0;
    }
    .col-md-7 {
      padding-left: 0;
    }
    .home-card a{
      font-size: 0.9rem;
      padding: 0.35rem 0.7rem;
    }
  }

  @media (max-width: 550px) {
.mx-4 {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}
  }