.btn-cart {
    color: #fff;
    background-color: #951616;
    border-color: #dc3545;
  }

  .menu-item {
    color: #ffffff;
    padding: 0.5rem 1rem;
    margin: 0;
    border-left: 1px solid rgb(129, 0, 0);
    text-align: center;
  }

  @media (max-width: 991px) {
    .menu-item {
      border-left: none;
      border-bottom: 1px solid rgb(129, 0, 0);
      font-size: 1.2rem !important;
      padding: 0.1rem;
    }
    .menu-item:hover {
      background-color: #301212;
      
    }
    .text-danger:hover{
      color:#fff!important;
    }
    .btn-cart {
      font-size: 1.2rem !important;
      padding: 0.2rem;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      background-color: #9516167a;
      text-align: center;
    }

    .btn-cart:hover {
      background-color: #951616;
    }
    .cart-button-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 4px auto;
      
    }


  }