
<div class="container text-light mt-4">


    
  <h2>Your Cart</h2>
  <div class="row">
  
    <ng-container *ngIf="cartItems.length > 0; else emptyCart">
      <div class="col-lg-8 col-md-12 order-1 order-lg-1">
        <div class="cart-items">
          <div *ngFor="let item of cartItems" class="cart-item mb-3">
            <div class="row align-items-center">
              <div class="col-4 col-md-3">
                <img [src]="item.imageUrl" [alt]="item.title" class="album-image img-fluid">
              </div>
              <div class="col-5 col-md-6 item-details">
                <h3 class="album-title">{{ item.title }}</h3>
                <p class="artist">Artist: {{ item.artist }}</p>
                <p class="price">${{ item.price | number:'1.2-2' }}</p>
              </div>
              <div class="col-3 col-md-3 d-flex flex-column justify-content-between align-items-center mt-2 mt-md-0 quantity-control">
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <button class="btn btn-outline-light mr-2" (click)="updateQuantity(item, item.quantity - 1)">-</button>
                  <span>{{ item.quantity || 1 }}</span>
                  <button class="btn btn-outline-light ml-2" (click)="updateQuantity(item, item.quantity + 1)">+</button>
                </div>
                <div class="w-100 mt-2">
                  <button class="btn btn-outline-danger w-100" (click)="removeFromCart(item)">Remove</button>
                </div>
              </div>
            </div>
            <div class="row d-flex d-md-none mt-2">
              <div class="col-12 quantity-control-horizontal d-flex justify-center">
                <button class="btn btn-outline-light" (click)="updateQuantity(item, item.quantity - 1)">-</button>
                <span>{{ item.quantity || 1 }}</span>
                <button class="btn btn-outline-light" (click)="updateQuantity(item, item.quantity + 1)">+</button>
                <button class="btn btn-outline-danger" (click)="removeFromCart(item)">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    
    
      <div class="col-lg-4 col-md-12 order-2 cart-summary">
        <h4>Cart Summary</h4>
        <div class="cart-summary-totals ml-1">
          <p>Total Items: <b>{{ getCartItemCount() }}</b></p>
          <p>Subtotal: <b>${{ total | number:'1.2-2' }}</b></p>
          <p>Shipping: calculated at checkout</p>
          <p>HST: <b> ${{ getHST() }}</b></p>
          <p class="price">Total: ${{ getTotal() }}</p>
        </div>
        
        <!--/* <button class="btn btn-danger w-100 my-2" (click)="alertMessage('Your order has been placed, but do not expect it please 😁!!
Submit your comments to Roger!')">Checkout</button> */-->
        <button class="btn btn-danger w-100 my-2" routerLink="/checkout">Checkout</button>
        <button class="btn btn-outline-danger w-100" (click)="clearCart()">Clear Cart</button>
      </div>
    </ng-container>

    <ng-template #emptyCart>
      <p class="ml-4" >Your cart is empty</p>
    </ng-template>
  </div>



</div> 